<routes>
    <route>
        <method>GET</method>
        <route>/BandPlaylist</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\BandPlaylist</controller>
        <permissions>guest</permissions>
    </route>
    <route>
        <method>GET</method>
        <route>/BandPlaylist/Verify</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\Verify</controller>
        <permissions>guest</permissions>
    </route>
    <route>
        <method>GET</method>
        <route>/BandPlaylist/Overview</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\Overview</controller>
        <permissions>user</permissions>
    </route>
    <route>
        <method>GET</method>
        <route>/BandPlaylist/SetDeviceId/[a:device_id]</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\SetSpotifyDeviceId</controller>
        <permissions>user</permissions>
    </route>
    <route>
        <method>GET</method>
        <route>/BandPlaylist/Play/[*:track_uri]</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\Play</controller>
        <permissions>user</permissions>
    </route>
    <route>
        <method>GET</method>
        <route>/BandPlaylist/Like/[*:track_id]/[*:like_type]</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\SetTrackLike</controller>
        <permissions>user</permissions>
    </route>
    <route>
        <method>GET</method>
        <route>/BandPlaylist/BestTracks</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\BestTracks</controller>
        <permissions>user</permissions>
    </route>
    <route>
        <method>GET</method>
        <route>/BandPlaylist/Test</route>
        <controller>\tdewmain\src\Modules\BandPlaylist\Controllers\Test</controller>
        <permissions>guest</permissions>
    </route>
</routes>

