<div>
    <div class="uk-card uk-card-body uk-card-default uk-card-small uk-background-secondary uk-light uk-padding-remove" uk-grid>
        <div class="uk-width-1-4">
            <img src="{{ band.image }}">
        </div>
        <div class="uk-width-3-4 uk-padding-large">
            <p class="uk-text-large uk-text-bold" style="color: #f0f0f0;">{{ band.name }}</p>
        </div>
    </div>
</div>