<div class="uk-container uk-container-xsmall">
    <div class="uk-child-width-1-1@s uk-grid uk-grid-match uk-grid-small uk-margin-medium-bottom" uk-grid>
        {% for band in item.items %}
            {% include band.template %}
        {% endfor %}
    </div>
</div>