{% extends 'infoView.twig' %}

{% block title %}
    <title>Toegang geweigerd</title>
{% endblock %}

{% block lead %}
    Toegang geweigerd!
{% endblock %}

{% block main %}
    Sorry, je hebt geen toegang tot deze pagina. Terug naar <a href="/tdewmain/Home">homepagina.</a>
{% endblock %}