{% extends 'infoView.twig' %}

{% block title %}
    <title>Error</title>
{% endblock %}

{% block lead %}
    Error!
{% endblock %}

{% block main %}
    Sorry, er is onverwacht iets fout gegaan. Terug naar <a href="/tdewmain/Home">homepagina.</a>
{% endblock %}