{% extends "infoView.twig" %}

{% block title %}
    <title>Pagina niet gevonden!</title>
{% endblock %}

{% block lead %}
    Pagina niet gevonden!
{% endblock %}

{% block main %}
    Sorry, deze pagina kunnen we niet vinden. Terug naar <a href="{{ ROOT }}/Home">homepagina.</a>
{% endblock %}